/* HEIGHT */

@media only screen and (min-height: 883px) {
    .indicator{
        top: 42%;
    }
}

@media only screen and (min-height: 951px) {
    .indicator{
        top: 42.7%;
    }
}

@media only screen and (height: 955px) {
    .indicator{
        top: 42.4%;
    }
}

@media only screen and (min-height: 1040px) {
    .indicator{
        top: 43.3%;
    }
}

@media only screen and (min-height: 1041px) {
    .indicator{
        top: 43%;
    }
}

@media only screen and (min-height: 1130px) {
    .indicator{
        top: 43.75%;
    }
}

@media only screen and (min-height: 1219px) {
    .indicator{
        top: 44.2%;
    }
}

@media only screen and (min-height: 1300px) {
    .indicator{
        top: 44.55%;
    }
}

@media only screen and (min-height: 1377px) {
    .indicator{
        top: 44.8%;
    }
}

@media only screen and (min-height: 1480px) {
    .indicator{
        top: 45%;
    }
}

@media only screen and (min-height: 1530px) {
    .indicator{
        top: 45.3%;
    }
}

@media only screen and (min-height: 1600px) {
    .indicator{
        top: 45.5%;
    }
}

@media only screen and (min-height: 1650px) {
    .indicator{
        top: 45.66%;
    }
}

@media only screen and (min-height: 1700px) {
    .indicator{
        top: 45.75%;
    }
}

@media only screen and (min-height: 1740px) {
    .indicator{
        top: 45.85%;
    }
}

@media only screen and (min-height: 1785px) {
    .indicator{
        top: 46%;
    }
}

@media only screen and (min-height: 1840px) {
    .indicator{
        top: 46.1%;
    }
}

@media only screen and (min-height: 1930px) {
    .indicator{
        top: 46.3%;
    }
}

@media only screen and (min-height: 2000px) {
    .indicator{
        top: 46.4%;
    }
}

@media only screen and (max-height: 778px) {
    .indicator{
        top: 40.5%;
    }
}

@media only screen and (max-height: 741px) {
    .indicator{
        top: 40.3%;
    }
}

@media only screen and (max-height: 725px) {
    .indicator{
        top: 40%;
    }
}

@media only screen and (max-height: 705px) {
    .indicator{
        top: 39.5%;
    }
}

@media only screen and (max-height: 668px) {
    .indicator{
        top: 39.1%;
    }
}

@media only screen and (max-height: 642px) {
    .indicator{
        top: 38.4%;
    }
}

@media only screen and (max-height: 601px) {
    .indicator{
        top: 37.8%;
    }
}

@media only screen and (max-height: 576px) {
    .indicator{
        top: 37.2%;
    }
}

@media only screen and (max-height: 550px) {
    .indicator{
        top: 36%;
    }
}

@media only screen and (max-height: 503px) {
    .indicator{
        top: 35.3%;
    }
}

@media only screen and (max-height: 479px) {
    .indicator{
        top: 34.8%;
    }
}

@media only screen and (max-height: 466px) {
    .indicator{
        top: 34%;
    }
}

@media only screen and (max-height: 444px) {
    .indicator{
        top: 33.2%;
    }
}

@media only screen and (max-height: 424px) {
    .indicator{
        top: 32.5%;
    }
}

@media only screen and (max-height: 406px) {
    .indicator{
        top: 31.7%;
    }
}

@media only screen and (max-height: 385px) {
    .indicator{
        top: 31%;
    }
}

@media only screen and (max-height: 374px) {
    .indicator{
        top: 30%;
    }
}

@media only screen and (max-height: 355px) {
    .indicator{
        top: 29%;
    }
}

@media only screen and (max-height: 335px) {
    .indicator{
        top: 28%;
    }
}