@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Gentium Book Plus', serif;
}

/* CSS Variables for Colors */
:root{
    --home-clr: #D3CEDF;
    --nav-clr: #ffffffe5;
    --dark-purple-clr: #7882a4;
    --border-clr: #7882a4b5;
    --footer-text-clr: #fff4f7;
    --white-clr: white;
}


body{
    background-image: url(image/white-concrete-wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HOMEPAGE */
#index-body{
    box-sizing: border-box;
    background-image: none;
    min-height: 100%;
    background: var(--home-clr);
    box-shadow: inset 0 0 150px rgba(0, 0, 0, 0.479);
    position: relative;
    padding-bottom: 54px;
}

.body {
    padding-bottom: 54px;
    padding-top: 20px;
    grid-auto-rows: 200px;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-wrap {
    display: flex;
    justify-content: space-evenly;
    padding: 2em 0em;
}

.about-me {
    height: auto;
    width: 60%;
    -webkit-box-shadow: 0px 10px 13px -7px #0f0f0f, 0px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #0f0f0f, 0px 5px 15px 5px rgba(0,0,0,0);
    padding: 1em;
    background-image: url(image/white-concrete-wall.jpg);
    text-align: center;
}

.about-me p{
    line-height: 25px;
    margin: 1.5em 0em;
}

.bigger-font {
    font-size: 17px;
    margin: 0.5em 0em!important;
}

.about-me button a{
    font-size: 16px;
}

.photo img {
    height: auto;
    width: 100%;
    border: 3px solid var(--white-clr);
    border-radius: 10em;
    -webkit-box-shadow: 0px 10px 13px -7px #333333, 0px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #333333, 0px 5px 15px 5px rgba(0,0,0,0);
}

.photo {
    width: 20%;
}

.language {
    height: auto;
    width: 50%;
    margin: auto;
    padding: 1em;
    background-image: url(image/white-concrete-wall.jpg);
    -webkit-box-shadow: 0px 10px 13px -7px #0f0f0f, 0px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #0f0f0f, 0px 5px 15px 5px rgba(0,0,0,0);
}

.language ul{
    list-style-position: inside;
    text-align: left;
    margin-left: 2em;
    margin-top: 1em;
    padding-bottom: 1em;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    grid-area: photo;
    width: 65%;
}

.about-me {
    grid-area: about-me;
    width: 90%;
}

.language {
    grid-area: language;
}

.body-grid{
    display: grid;
    grid-template-areas: 
        'photo photo about-me about-me about-me about-me'
        'language language language language language language';
    row-gap: 40px;
    padding: 3em 1em 4.5em 3em;
}

/* x - HOMEPAGE - x */


/* ARTICLES */

/* Navigation Bar */
nav{
    background: #7882a4af;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: max-content;
    border-bottom: 3px solid var(--border-clr);    
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 1em;
    padding-right: 3em;
}

nav ul li a{
    text-decoration: none;
    color: var(--nav-clr);
    font-size: 13pt;
    padding: 5px;
}

nav ul li a:hover{
    font-weight: 800;
    background-color: var(--dark-purple-clr);
}

nav ul li.active-page a{
    font-weight: 800;
}

nav .logo h1 a{
    color: var(--nav-clr);
    font-size: 14pt;
    font-weight: 600;
    text-decoration: none;
}

nav .logo h1{
    padding: .4em;
}

nav .fa-bars{
    display: none;
    font-size: 13pt;
    padding: .5em;
    text-align: center;
    color: var(--nav-clr);
}
.fa-bars:hover{
    cursor: pointer;
    color: #D3CEDF;
}

.show{
    display: block!important;
}

/* x - Navigation Bar - x */


/* Article Display */

.title{
    font-size: 23pt;
    text-align: center;
    padding-top: 30px;
    text-shadow: 2px 8px 6px #7882a440, 0px -5px 35px #7882a485;
}

.container{
    width: 90%;
    margin: auto;
    position: relative;
    flex-wrap: wrap;
    padding: 20px;
}

.container .img-card{
    max-width: 450px;
    height: 250px;
    background: var(--white-clr);
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.container .img-card:last-child{
    height: 265px;    
}

.container .img-card:hover{
    height: 380px;
}

.container .img-card:nth-child(8):hover,
.container .img-card:nth-child(9):hover {
    height: 400px;
}

.container .img-card .img-box{
    position: relative;
    width: 443px;
    height: 245px;
    left: 4px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.container .img-card .img-box img{
    max-width: 100%;
    border-radius: 4px;
    height: 100%;
}

.container .img-card:nth-child(1) .img-box{
    left: 0;
}

.container .img-card:nth-child(5) .img-box{
    left: 60px;
    width: 330px;
}

.container .img-card:nth-child(8) .img-box,
.container .img-card:nth-child(4) .img-box{
    left: 0px;
}

.container .img-card:last-child .img-box{
    left: 100px;
    width: 250px;
}

.container .img-card .content{
    position: relative;
    margin-top: 10px;
    padding: 10px 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .img-card:hover .content{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}

.container .img-card .content button,
.about-me button {
    border: none;
    background-color: #7882a4af;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 2.5px;
    cursor: pointer;
    margin: .5em 0;
    border-bottom: 1px solid var(--border-clr);    
    border-right: 1px solid var(--border-clr);    
}

.container .img-card .content button a,
.about-me button a{
    text-decoration: none;
    color: var(--white-clr);
    font-weight: 500;
}

.container .img-card .content button:hover,
.about-me button:hover{
    background-color: var(--dark-purple-clr);
}

.container .img-card .content button:hover a,
.about-me button:hover a{
    font-weight: 600;
}

.container .img-card .content i{
    font-size: 15px;
}
/* x - Article Display - x */


/* Footer */
.footer{
    font-weight: 300;
    color: var(--footer-text-clr);
    font-size: 13.5pt;
    width: 80%;
    height: 40px;
    text-align: center;
    border-right: 2px solid var(--white-clr);
    padding-top: 6px;
    margin-top: 5px;
}

#footer {
    position: fixed;
    bottom: 0;
    margin-top: auto;
    width: 100%;
  }

footer{
    padding: 22px;
    padding-right: 0px;
    width: 100%;
    height: 54px;
    background-color: var(--dark-purple-clr);
    display: flex;
    justify-content: space-between;
    margin-bottom: -6px;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.contacts{
    display: flex;
    width: 30%;
    padding: 6px;
    padding-right: 0px;
    justify-content: space-evenly;
    font-size: 20pt;
}

.fa-github{
    color: var(--footer-text-clr);
    border-right: 2px solid var(--white-clr);
    padding-right: 45px;
}
.fa-linkedin{
    color: var(--footer-text-clr);
    border-right: 2px solid var(--white-clr);
    padding-right: 40px;
}
.fa-envelope{
    color: var(--footer-text-clr);
    border-right: 2px solid var(--white-clr);
    padding-right: 45px;
}
/* x - Footer - x */

/* x - ARTICLES - x */



/* PROJECTS */
.project-body{
    background-image: url(https://tailwindcss.com/_next/static/media/docs-dark@tinypng.a8984b7fb44a4f8232d04de50220ab31.png);
    min-height: 100%;
}

.project-container{
    padding: 4em 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}

.project-container img{
    border: 5px solid var(--white-clr);
    border-radius: 25px;
    width: 60%;
    height: auto;
    margin-bottom: 2em;
}

.project-container .info-1{
    text-align: center;
    padding-right: 1.5em;
}

.project-container .info-1 h1{
    color: var(--dark-purple-clr);
    font-size: 25pt;
    padding-bottom: 1.2em;
}

.project-container .info-1 p:last-child{
    display: inline-block;
    margin-top: 1em;
}

.project-container .info-1 p:last-child a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 14pt;
}

.project-container .info-1 p:last-child:hover a {
    text-decoration: underline;
    transition: .3s ease-in;
    color: var(--dark-purple-clr);
}

.project-container .info-1 p{
    padding-bottom: .9em;
}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2em;
}

hr {
    border: 0;
    background-color:#7882a485;
    height: 2px;
    width: 100%;
    margin-bottom: 1.5em;
}
/* x - PROJECTS - x */

/* RESUME */
.resume{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-bottom: 6em;
}

.resume iframe{
    border: 5px solid var(--border-clr);
    border-radius: 0.5em;
    width: 800px;
    height: 900px;
}
/* X - RESUME - X */
